.paginator
  a
    box-shadow: inset 0 -0.1em 0 $color-black-2
    text-decoration: none
    transition:all .3s cubic-bezier(.71,0,0,.99)
  a:hover
    box-shadow: inset 0 -0.8em 0 $color-main
  text-align: center
  text-size('s-1')
  padding: 5rem 0
  .prev, .next
  .next

  .page-number
    text-size('s-3')
    // font-weight: 400
    padding: 0 0.5em

@media screen and (max-width: $S)
  .footer
    font-size: 10px