.switch-button
  height: 0
  input[type=checkbox]
    height: 0
    width: 0
    visibility: hidden

  label
    margin-top: 1rem
    width: 4rem;
    cursor: pointer;
    height: 0.5rem;
    background: #333;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto

  label:after
    content: '';
    background: $color-main;
    width: 2rem;
    height: 0.5rem;
    position: absolute;
    left: 0rem;
    transition: 300ms ease-in-out;

  input:checked + label:after
    left: calc(100%)
    -webkit-transform: translateX(-100%)
    -moz-transform: translateX(-100%)
    -ms-transform: translateX(-100%)
    -o-transform: translateX(-100%)
    transform: translateX(-100%)
