.footer
  span ©️2019-#{new Date().getFullYear()} 
    |  Designed By&nbsp;
    strong
      a(href='https://github.com/random-yang') RandomYang
    |  |&nbsp;Modifier By&nbsp;
    strong
      a(href='https://nightcandle.cc') NightCandle

    |  |&nbsp;Powered By&nbsp;
    strong
      a(href='https://hexo.io') hexo
