.head
  .head__inner
    h1
      a(href=theme.menu.Home) <img id='logo' src='https://nightcandle.gitee.io/personal_album/picture/logo_light.png' />
    p #{config.subtitle}

    include ./switch-button

