.head
  .head__inner
    h1
      a(href=theme.menu.Home) <img id='logo' src='https://nightcandle.gitee.io/personal_album/picture/logo_%E7%94%BB%E6%9D%BF%201.png' />
    p #{config.subtitle}

    include ./switch-button

