include ../mixins/horizontalLine.pug

- let getLocation = function() {
-   let location = 'Home'
-   if (is_page()) location = page.title
-   if (is_post()) location = page.title
-   if (is_archive()) location = 'Archive'
-   if (is_year()) location += ': ' + page.year
-   if (is_month()) location += ': ' + page.month + '/' + page.year
-   if (is_tag()) location = 'Tag: ' + page.tag
-   if (is_category()) location = 'Category: ' + page.category
-   return location
- }

.location-bar
  .line-1
    +horizontalLine('3px')
  .line-2
    +horizontalLine('1px')

  
  div.text_warp
    p.text
       a(class={active: getLocation() !== 'Home'} href='/') 主页
       a(class={active: getLocation() !== 'Category: 闲聊'} href='/categories/闲聊/') 闲聊
       a(class={active: getLocation() !== 'About'} href='/2020/05/24/about/') 关于

  
  .line-3
    +horizontalLine('1px')